.DS_Store
.gradle
*.iml
*.ipr
*.iws
build/
.idea/
*.deb
node_modules/
src/ratpack/public/

*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*



# Ignore Gradle GUI config
gradle-app.setting
